*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   color: inherit;
   text-decoration: none;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

html,
body {
   height: 100%;
   line-height: 1;
   font-size: 14px;
   font-weight: 400;
   font-family: "Montserrat";
}

.wrapper {
   overflow: hidden;
}

.slider {
   position: fixed;
   top: 0%;
   width: 100%;
   left: 50%;
   transform: translate(-50%, 0%);
   z-index: 1;
}

.slider_img {
   width: 100%;
   height: 100%;
   max-width: 100%;
   max-height: 100%;

   object-fit: cover;
}

.logo {
   position: relative;
   z-index: 2;
   display: flex;
   align-items: center;
   justify-content: center;
}

.content {
   padding: 20px 0 30px;
   position: relative;
   z-index: 3;
   background-color: #fff;

   background-image: url("../img/zip1.png"), url("../img/zip2.png");
   background-repeat: no-repeat;
   background-position: left, right;
   background-size: auto auto, auto auto;
}

.text {
   text-align: center;
}

.alpha_title {
   font-weight: 700;
   font-size: 32px;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.alpha_sub {
   font-weight: 600;
   font-size: 20px;
   color: #000;
   text-transform: uppercase;
   margin-bottom: 20px;
}
.list {
   font-weight: 300;
   font-size: 15px;
   max-width: 300px;

   margin: 0 auto;
}

.list_item {
   position: relative;
   padding-bottom: 20px;
   padding-left: 40px;
}
.list_item::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url("../img/star.svg") no-repeat;
}
.arrow {
   text-align: center;
   margin-bottom: 10px;
}
.descr {
   font-weight: 300;
   font-size: 10px;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 10px;
}

.button {
   text-align: center;
   margin-bottom: 15px;
}
.btn {
   width: 90%;
   border-radius: 48px;

   height: 80px;
   font-weight: 700;
   color: #fff;
   font-size: 36px;
   text-transform: uppercase;
   text-align: center;
   background: radial-gradient(
      50% 50% at 50% 50%,
      rgb(180, 146, 241) 0%,
      rgb(120, 45, 254) 100%
   );
}

.err {
   color: #f63838;
   font-weight: 700;
   font-size: 16px;
   text-align: center;
}

.paper {
   background-color: #fff;
   position: relative;
   z-index: 2;
   padding: 100px 0;
   background-image: url("../img/paper.png");

   background-image: url('../img/paper_zip2.png'), url('../img/paper_zip1.png'),url('../img/paper.png');
   background-repeat: no-repeat;
   background-position: right, left, 50%;
   background-size: auto auto, auto auto, cover;
   
}


.paper_body {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   justify-content: center;
}

.paper_top {
   color: #fff;
   display: flex;
   column-gap: 40px;
   align-items: center;
   justify-content: center;
   margin-bottom: 45px;
}
.paper_item img {
  margin-bottom: 5px;
}
.item_text {
   font-weight: 400;
   font-size: 10px;
   text-transform: uppercase;
   text-align: center;
}

.paper_text {
   font-weight: 600;
   font-size: 19px;
   text-transform: uppercase;
   text-align: center;
   color: #fff;
   line-height: 1.2;
}

.capsule {
  text-align: center;
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.capsule_img {
  text-align: center;
  display: flex;
  justify-content: center;
}

.result {
  position: relative;
  z-index: 2;
  background-color: #fff;
}
.result_list li {
  font-weight: 400;
font-size: 16px;
color: #000;
}

@media (max-width: 600px) {
   main {
      margin-top: 360px;
   }
}

@media (max-width: 500px) {
   main {
      margin-top: 350px;
   }
}

@media (max-width: 400px) {
   main {
      margin-top: 325px;
   }

   .slider {
      height: 400px;
   }
}

@media (max-width: 320px) {
   main {
      margin-top: 315px;
   }
}
